*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
#topnav {
    display: flex;
    height: 5rem;
    box-shadow: 1px 1px 100px 5px gray;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 100px;
}
#links {
    height: 5rem;
    display: flex;
    width: 60%;
    justify-content:flex-end;
    align-items: center;
}
#brand-logo {
    width: 40%;
    height: 5rem;
    display: flex;
    align-items: center;
}
.light-dark-mode {
    color: white;
    background: black;
}
#light-dark-switch {
    border: none;
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 100px;
}
.section {
    display: flex;
    height: 80vh;
}
.contact-div {
    width: 300px;
    height: 300px;
    border: none;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}
#discord-div {
    background-image: url('discord.png');
    border-radius: 1000px;
}
#email-div {
    background-image: url('gmail.png');
}
#main-section {
    justify-content: center;
    padding-top: 5em;
    background: url('bg.jpg');
    background-size: cover;
    background-blend-mode: darken;

}
#contact-section h1 {
    font-size: 60px;
}
#about-section h1{
    font-size: 60px;
    display:inline-flex;
}
#about-section {
    transition-property: opacity;
    transition-duration: 1s;
}
#about-section {
    padding-left: 40px;
    height: 60vh;
    margin-top: 6em;
}
#about-section p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}
#contact-section h2 {
    font-size: 30px;
    text-align: left;
}
#contact-section button {
    width: 200px;
    height: 50px;
    background-color: #5865f2;
    color: white;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    transition-property: width;
    transition-duration: 0.5s;
    cursor: pointer;
}
#contact-section button:hover {
    width: 230px;
}
#contact-section {
    margin-top: 1em;
}
#main-section h1 {
    font-size: 50px;
    padding-bottom: 20px;
    color: black;
}
#main-section p {
    font-weight:bold;
    color: black;
}
#logo-icon {
    font-size: 30px;
    padding-left: 10px;
    margin-left: 40px;
}
#brand-logo p {
    margin-left: 5px;
    padding-right: 5px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(9, 180, 9);
}
#brand-logo span {
    font-weight: bold;
}
.main-btns {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
#links li {
    list-style: none;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}
#switch-img {
    border-radius: 100px;
}
#links li i {
    padding-right: 10px;
    font-size: 20px
}
#links li:hover {
    background-color: rgba(000, 000, 000, 40%);
}
#links li:hover {
    color: white;
}
#center-div {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    padding-top: 10em;
}
#signup-div {
    width: 300px;
    height: 350px;
    box-shadow: 1px 1px 20px 1px grey;
    border: none;
    border-radius: 10px;
    padding-top: 20px;
}
#signup-div h1{
    padding-left: 20px;
}
#signup-div input {
    margin-top: 20px;
    width: 240px;
    height: 50px;
    outline: none;
    border: 1px solid black;
    border-radius: 100px;
    padding-left: 20px;
    margin-left: 15px;
    font-weight: bold;
}
#signup-div button {
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 40px;
    cursor: pointer;
}

.goldtxt {
   position: absolute;
   font-family: 'Times New Roman',serif;g
   font-weight: bold;
   background-image: linear-gradient(
	to right,
	#462523 0,
    #cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
   color:transparent;
   -webkit-background-clip:text;
}